<span class="oauth">
  <md-button class="md-raised" ng-if="show === 'logged-out'" title="Login to {{settings.oauth['sgci'].tenant.name}}" ng-click="login()">Login</md-button>
  <md-button class="md-raised" ng-if="show === 'logged-in'" title="Logout of {{settings.oauth['sgci'].tenant.name}}" ng-click="logout(); $root.logout()">Logout</md-button>
</span>
