<md-dialog aria-label="Edit Gateway" ng-show="!requesting" flex="50">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit {{gateway.value.name}}</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <div layout="row" layout-sm="column" layout-align="center center" class="progress-circle" ng-show="requesting">
      <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
    </div>

    <md-dialog-content ng-show="!requesting">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="description">
          <md-content class="md-padding">
            <h4>Description</h4>
            <md-input-container class="md-block">
              <textarea ng-model="gateway.value.description"  aria-label="description" md-select-on-focus></textarea>
            </md-input-container>
            <h4>URL</h4>
            <md-input-container class="md-block">
              <textarea ng-model="gateway.value.site"  aria-label="site" md-select-on-focus></textarea>
            </md-input-container>
          </md-content>
        </md-tab>
        <md-tab label="tags">
          <md-content class="md-padding">
            <h4>Tags</h4>
            <md-chips ng-model="gateway.value.tags"></md-chips>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row" ng-show="!requesting">
      <span flex></span>
      <md-button ng-click="save(gateway)" >
        Save
      </md-button>
      <md-button ng-click="cancel()" style="margin-right:20px;" >
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
