<div layout="row" layout-sm="column" layout-align="center center" class="progress-circle" ng-show="requesting">
  <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
</div>

<div layout="row" layout-sm="column" layout-align="center center" class="login-layout" ng-show="!loggedIn">
  <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch  class="login">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Gateways</span>
        <span class="md-subhead">Catalog</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-lg card-media">
             <img ng-src="images/sg_logo.png" alt="ScienceGateways.org" />
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-href="http://sciencegateways.org">Website</md-button>
      <oauth
        template="views/templates/oauth-ng-button.html"
        site="settings.oauth['sgci'].tenant.baseUrl"
        client-id="settings.oauth['sgci'].clientKey"
        redirect-uri="{{settings.oauth['sgci'].callbackUrl}}"
        authorize-path="/authorize",
        state="12345"
        scope="{{settings.oauth['sgci'].scope}}"
        tenant="settings.oauth['sgci'].tenant">
      </oauth>
    </md-card-actions>
  </md-card>
</div>

<div layout="row" layout-sm="column" layout-align="space-around" ng-show="!requesting && loggedIn">
  <md-toolbar>
     <div class="md-toolbar-tools">
       <h2>
         <span>Science Gateways Catalog</span>
       </h2>
       <span flex></span>
       <oauth
         template="views/templates/oauth-ng-button.html"
         site="settings.oauth['sgci'].tenant.baseUrl"
         client-id="settings.oauth['sgci'].clientKey"
         redirect-uri="{{settings.oauth['sgci'].callbackUrl}}"
         authorize-path="/authorize",
         state="12345"
         scope="{{settings.oauth['sgci'].scope}}"
         tenant="settings.oauth['sgci'].tenant">
       </oauth>
     </div>
   </md-toolbar>
</div>


<div layout="row" layout-sm="column" layout-align="space-around" ng-show="!requesting && loggedIn">
  <md-content layout="row" flex layout-align="center" layout-fill>

   <div hide show-gt-sm flex="20">

    <ul class="collapsible" data-collapsible="expandable" watch>
      <li ng-repeat="(categoryKey, category) in categories" ng-if="category.total > 0">
        <div class="collapsible-header active" ng-click="filterCategory(categoryKey)"><strong>{{categoryKey}} ({{category.total}})</strong></div>
        <div class="collapsible-body">

            <ul class="collapsible" data-collapsible="expandable" watch style="margin-left: 15px; margin-right: 10px">
              <li ng-repeat="(subcategoryKey, subcategory) in category" ng-if="subcategoryKey !== 'total' && subcategory.total > 0">
                <div class="collapsible-header" ng-click="filterCategory(subcategoryKey)">{{subcategoryKey}} ({{subcategory.total}})</div>
                <div class="collapsible-body" ng-if="subcategory.total > 1">

                  <ul class="collapsible" data-collapsible="expandable" watch style="margin-left: 15px; margin-right: 10px">
                    <li ng-repeat="(subcategoryChildrenKey, subcategoryChildren) in subcategory" ng-if="subcategoryChildrenKey !== 'total' && subcategoryChildren.total > 0">
                      <div class="collapsible-header" ng-click="filterCategory(subcategoryChildrenKey)">{{subcategoryChildrenKey}} ({{subcategoryChildren.total}})</div>
                    </li>
                  </ul>

                </div>
              </li>
            </ul>

        </div>
      </li>
    </ul>


   </div>

   <div flex="80">
      <md-card>
        <md-content flex="" layout-padding="">
          <md-whiteframe layout="row">
            <md-input-container class="md-block" flex="">
              <label>Search</label>
              <input ng-model="filter" ng-change="search()" ng-model-options="{ debounce: 1000 }">
            </md-input-container>
            <md-button class="md-fab md-primary md-hue-2" aria-label="add" ng-click="add()">
              <i class="material-icons">library_add</i>
            </md-button>
          </md-whiteframe>
        </md-content>
      </md-card>

    <div flex-xs flex-gt-xs="100" layout="column">
      <md-card ng-repeat="gateway in gateways | filter:filter | orderBy: 'lastUpdated':true">
        <md-card-title>
          <md-card-title-text>
            <a ng-href="{{ gateway.value.site }}" class="md-headline" target="_blank">{{ gateway.value.name }}</a>
            <span class="md-subhead">{{gateway.value.description}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <md-chips ng-model="gateway.value.tags" md-removable="false">
            <md-chip-template ng-click="filterTags($chip)">
              {{$chip}}
            </md-chip-template>
          </md-chips>

          <md-card-actions layout="column">
            <md-menu>
              <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                <i class="material-icons">mode_edit</i>
              </md-button>
              <md-menu-content width="4">
                <md-menu-item>
                  <md-button ng-click="action($event, 'edit', gateway, $index)">
                    <i class="material-icons">mode_edit</i>
                    Edit
                  </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                  <md-button ng-click="action($event, 'delete', gateway, $index)">
                    <i class="material-icons">delete_forever</i>
                    Delete
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-card-actions>
        </md-card-content>
      </md-card>
    </div>
   </div>
  </md-content>
</div>
