<md-dialog aria-label="Add Gateway" flex="50">
  <form name="addForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Science Gateway</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <div layout="row" layout-sm="column" layout-align="space-around" ng-show="requesting">
      <md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
    </div>

    <md-dialog-content ng-show="!requesting">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="description">
          <md-content class="md-padding">

            <h4>Enter new name</h4>
            <md-input-container name="name" class="md-block" ng-required="true" flex-gt-sm>
              <input ng-model="gateway.value.name" aria-label="name" required>
              <div  ng-messages="addForm.name.$error">
                  <div ng-message="required">Name is required</div>
              </div>
            </md-input-container>


            <h4>Enter new description</h4>
            <md-input-container class="md-block" ng-required="true" flex-gt-sm>
              <textarea ng-model="gateway.value.description" aria-label="description" required md-select-on-focus></textarea>
              <div ng-messages="addForm.description.$error">
                  <div ng-message="required">Description is required</div>
              </div>
            </md-input-container>
            <h4>Enter new gateway URL</h4>
            <md-input-container class="md-block" ng-required="true" flex-gt-sm>
              <input ng-model="gateway.value.site" aria-label="site" required>
              <div  ng-messages="addForm.site.$error">
                  <div ng-message="required">Gateway URL is required</div>
              </div>
            </md-input-container>
          </md-content>
        </md-tab>
        <md-tab label="tags">
          <md-content class="md-padding">
            <h4>Add your tags</h4>
            <md-chips ng-model="gateway.value.tags"></md-chips>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row" ng-show="!requesting">
      <span flex></span>
      <md-button ng-click="save(gateway)" >
        Save
      </md-button>
      <md-button ng-click="cancel()" style="margin-right:20px;" >
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
