inside admin view

<!-- <md-content layout="row" flex layout-align="center" layout-fill>
 <div flex="70">
   <section layout="row" layout-sm="column" layout-align="end center" layout-wrap="">
     <oauth
       template="/views/templates/oauth-ng-button.html"
       site="settings.oauth['agave.prod'].tenant.baseUrl"
       client-id="settings.oauth['agave.prod'].clientKey"
       redirect-uri="{{settings.oauth['agave.prod'].callbackUrl}}"
       authorize-path="/authorize",
       state="12345"
       scope="{{settings.oauth['agave.prod'].scope}}"
       tenant="settings.oauth['agave.prod'].tenant">
     </oauth>
   </section>

   <md-card>
     <md-toolbar class="md-whiteframe-1dp">
       <div class="md-toolbar-tools">
         <div class="md-title">SG-Catalog</div>
       </div>
     </md-toolbar>

     <md-content flex="" layout-padding="">
       <md-whiteframe layout="row">
         <md-input-container class="md-block" flex="">
           <label>Search</label>
           <input ng-change="updateDataTable()" ng-model="single.ident">
         </md-input-container>
       </md-whiteframe>
     </md-content>
   </md-card>


  <div flex-xs flex-gt-xs="100" layout="column">
    <md-card ng-repeat="gateway in gateways">
      <md-card-title>
        <md-card-title-text>
          <a ng-href="{{ gateway.site }}" class="md-headline">{{ gateway.name }}</a>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="row" layout-align="space-between">
        <md-chips ng-model="gateway.tags" readonly="true"></md-chips>
        <md-card-actions layout="column">
          <md-button>Action</md-button>
        </md-card-actions>
      </md-card-content>
    </md-card>
  </div>
 </div>
</md-content> -->
