<md-dialog aria-label="Science Gateway Catalog Login">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Science Gateway Catalog</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h3 layout-align="center end">Please Login</h3>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <oauth
        template="/views/templates/oauth-ng-button.html"
        site="settings.oauth['sgci'].tenant.baseUrl"
        client-id="settings.oauth['sgci'].clientKey"
        redirect-uri="{{settings.oauth['sgci'].callbackUrl}}"
        authorize-path="/authorize",
        state="12345"
        scope="{{settings.oauth['sgci'].scope}}"
        tenant="settings.oauth['sgci'].tenant">
      </oauth>
      <md-button ng-click="cancel()" style="margin-right:20px;" >
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
